*
{
    box-sizing: border-box;
}

body{

   
    background-image:url("../Images/background2.jpg");

}
.nav
{

}

.container
{
    width: 80%;
    margin:0 auto;
}
.header
{
    padding: 10px;
}
.header img
{
    width: 150px;
    height: 150px;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li
{
    float: left;
    width: 33.3333333333333%;
    text-align: center;
    height: 40px;
    font-size: 35px;
    background-color: rgb(37, 26, 190);
}


ul li a
{
    display: block;
    text-decoration: none;
    color:white;
    text-align: center;
    text-shadow:

    -3px 3px 5px rgb(146, 145, 145),
    2px 2px grey;
}
ul li a:hover
{
    background-color: rgba(211, 38, 38, 0.877);
}

h1{
   
    font-size:65px;
    color:black;
    text-align: center;
    text-shadow:

    -3px 3px 5px grey,
    2px 2px grey;
}

.vesti
{
    width:50%;
    margin:0px;
    padding:0px;
    padding-top:10px;
    background-color:rgb(111, 122, 134);
    float:left;
    color:black;
    text-shadow:
    -3px 3px 5px grey,
     0.5px 0.5px  rgb(160, 155, 155),
    -0.5px -0.5px rgb(160, 155, 155);
   
    
}
.registracija
{
    width:30%;
    background-color: rgb(160, 168, 170);
    margin:0px;
    padding:0px;
    float:left;
    height:419px;
    border-right: white 1px solid;
}
  
.login
{
    width:20%;
    background-color: rgb(160, 168, 170);
    height:419px;
    margin:0px;
    padding:0px;
    float:left;
}


.vesti .akcija
{
    width:45%;
    display:inline-block;
    margin:5px;
    text-align: center;
}
#registracija1
{
    
    margin-left:20px;
    font-size: 17px;
    line-height: 37px;
}
#registracija2
{
    margin-top:10px;
    margin-bottom:0px;
    text-align: center;
}
.fa-facebook {
    background: #3B5998;
    color: white;

}
.fa-twitter {
    background: #55ACEE;
    color: white;

}
.fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa {
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
#sredina
{
    text-align:center;
}
#registracija1 textarea{
    overflow-y:scroll;
    resize:none;
}
.footer{
 
    text-align:center;
    padding-top:20px;
    background-color: burlywood;
    border-top: 3px solid brown;  
}
#text123
{
    color:grey;
    text-shadow:
    0.5px 0.5px black,
    -3px 3px 5px black,
    -0.5px -0.5px black;

}
.mapa
{
    width:90%;
    margin: 0 auto;
    height:409px;


}
.line {
    width: 35px;
    margin-left: 5px;
    margin-top: 5px;
    width: 80%;
    background-color: white;
    height: 5px;
  }
.hamburger {
    width: 50px;
    height: 50px;
    padding: 10px;
    display:none;

  }
  @media only screen and (max-width: 1600px) {
    body {
      background: silver;
    }
    .nav {
        display: none;
        margin-left: 10px;
        margin-top: 5px;
      }
      .nav ul li {
        display: block;
        width: 35%;
        float: none;
        background-color: black;
      }
      .registracija
      {
          float:none;
          margin-left:200px;
      
      }
   
    ul li a {
      color: silver;
      border: 1px solid silver;
    }
    ul li a:hover {
      background-color: white;
      color: #174864;
    }
    .login
    {
        display:none;
    }
    .registracija
    {
        float:none;
        clear:both;
        background-color:silver;
        text-align:center;
        width:400px;
        border:none;
    }
    .vesti
    {
        background-color:transparent;
        margin-left:0;
    }
    #mapa
    {
        margin-left:0;
    }
    .hamburger {
        display: block;
        background-color: black;
      }
    .footer
    {
        width:100%;
    }

    h1{
   
        font-size:50px;
        color:black;
        text-align: center;
        text-shadow:
    
        -3px 3px 5px grey,
        2px 2px grey;
    }
 
  }
 
  
  @media only screen and (max-width: 800px) {
    .nav {
      display: none;
      margin-left: 10px;
      margin-top: 5px;
    }
    .nav ul li {
      display: block;
      width: 35%;
      float: none;
      background-color: white;
    }
    .nav ul li a {
      color: black;
    }
    .nav ul li a:hover {
      color: black;
      background-color: yellow;
    }
    .hamburger {
      display: block;
      background-color: gold;
    }
    body
    {
        background:brown;
    }
    .login
    {
        display:none;
    }
    .registracija
    {
        float:none;
        clear:both;
        background-color:black;
        color:white;
        text-align:center;
        width:400px;
        border:none;
        margin-left:100px;
    }
    .footer
    {
        width:100%;
    }
    h1{
   
        font-size:40px;
        color:black;
        text-align: center;
        text-shadow:
    
        -3px 3px 5px grey,
        2px 2px grey;
    }
   
  }
  
